.skeleton {
  @apply inline-block leading-none relative;
  overflow: hidden;
  background-color: #cfcfcf;
}

.skeleton::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    #fff0 0%,
    #fff9 20%,
    #fff0 40%,
    #fff0 100%
  );
  animation: shimmer 1s linear infinite;
}

@keyframes shimmer {
  to {
    transform: translateX(200%);
  }
}
