@tailwind components;

@layer components {
  /* Header styles */
  header {
    @apply transition-all fixed top-0 h-screen sm:h-auto z-50 sm:w-screen left-0 sm:mix-blend-difference;
    max-height: -webkit-fill-available;
  }

  @media (min-width: 640px) {
    header {
      left: 0 !important;
    }
  }

  /* Nav styles */
  nav {
    @apply h-full sm:h-nav-height xl:h-[calc(var(--nav-height)+1rem)]
      w-[75vw] sm:w-full flex flex-col sm:flex-row sm:items-center justify-between
      p-6 gap-4 sm:gap-0 sm:p-8 bg-block-color-alt sm:bg-transparent font-consolas
      font-bold text-lg sm:left-0 select-none;
  }

  /* Bars icon styles */
  .nav__bars-icon {
    @apply fixed sm:relative z-[51] transition-all;
  }

  .nav__bars {
    @apply cursor-pointer text-4xl xl:text-7xl;
  }

  /* Nav list styles */
  .nav__list {
    @apply flex flex-col justify-between sm:flex-row sm:items-center
      w-[70vw] lg:w-[50vw] md:w-[55vw] max-w-6xl h-[50%] min-h-[8rem] sm:h-auto pt-24 sm:p-0;
  }

  .nav__item {
    @apply relative px-2 text-start sm:text-center text-2xl sm:text-xl 10xl:text-4xl;
  }

  .nav__link {
    @apply hover:opacity-70 cursor-pointer mix-blend-difference;
  }

  .nav__link.disabled {
    @apply opacity-50 hover:opacity-50;
  }

  .nav__item > .line {
    @apply absolute -left-1 sm:left-1/2 transform sm:-translate-x-1/2
      sm:-top-1 mx-auto w-1 h-0 sm:w-0 sm:h-1 bg-text-color overflow-visible transition-all;
  }

  .nav__item.active > .line {
    @apply h-full w-1 sm:h-1 sm:w-full;
  }

  /* Social icons styles */
  .nav__social {
    @apply flex sm:hidden flex-row justify-between max-w-[12rem];
  }

  .nav__social__icon {
    @apply text-4xl;
  }

  /* User icon styles */
  .nav__user-link {
    @apply bg-white px-2 py-0 pt-1 lg:px-3 lg:py-1 rounded-md nav__link flex justify-center items-center transform-gpu;
  }

  .nav__user-name {
    @apply text-center font-aldrich not-italic text-4xl text-black transform-gpu;
  }

  .nav__user-icon {
    @apply text-black text-5xl bg-white px-3 py-0 rounded-md;
  }
}
