@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(./variables.css);

@layer base {
  * {
    @apply box-border p-0 m-0 scroll-smooth;
  }

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  html {
    @apply scroll-smooth;
    height: -webkit-fill-available;
  }

  body {
    @apply transition-all m-0 bg-body-color-1
    font-roboto text-base text-text-color;
    height: -webkit-fill-available;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-4xl;
  }

  h1 {
    @apply text-[2rem] xs:text-4xl text-primary-color font-consolas font-extrabold;
  }
  h2 {
    @apply text-2xl text-secondary-color font-consolas font-bold;
  }
  h3 {
    @apply text-xl text-secondary-color font-consolas font-bold;
  }
  h4 {
    @apply text-lg text-secondary-color font-consolas font-bold;
  }

  p {
    @apply text-base font-medium text-text-color;
  }

  ul {
    @apply list-none;
  }

  a {
    @apply no-underline;
  }

  img {
    @apply max-w-full h-auto;
  }

  section {
    @apply h-auto w-full p-4 m-0 px-[3%] lg:px-[1%];
  }

  /* scroll bar */
  ::-webkit-scrollbar {
    @apply w-3 h-4;
  }

  ::-webkit-scrollbar-track {
    @apply bg-block-color-alt;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primary-color;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-secondary-color;
  }
}

@layer components {
  #root {
    @apply h-full w-full;
  }

  .container {
    @apply max-w-6xl w-full h-full mx-6 pt-[10vh] md:pt-0;
  }

  .foreground {
    @apply fixed top-0 left-0 w-full h-full z-[49] transition-all bg-black bg-opacity-40;
  }

  .button {
    @apply inline-block bg-primary-color hover:bg-secondary-color px-1 select-none;
  }

  /* select */
  .select {
    @apply font-extrabold text-black h-full text-center py-2 px-3 m-0 rounded-md cursor-pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    text-align-last: center;
  }

  .select::-ms-expand {
    @apply hidden;
  }

  .select:focus {
    @apply outline-none;
  }

  .select option {
    @apply font-normal text-left bg-black text-white opacity-90 outline-none;
    text-align: left;
    mix-blend-mode: difference;
  }

  /* errors */
  .error-text {
    @apply text-red-500;
  }

  .error,
  .success,
  .loading {
    @apply flex flex-row items-center gap-4 
    px-6 py-3 rounded-md w-full;
  }

  .error {
    @apply bg-red-600 text-white;
  }

  .success {
    @apply bg-green-600 text-white;
  }

  .loading {
    @apply bg-yellow-600 text-white;
  }

  /* form */

  .form {
    @apply flex flex-col gap-5 p-8 bg-block-color
    w-80 md:w-96 max-w-full rounded-md shadow-lg;
  }

  .form fieldset {
    @apply flex flex-col gap-2 w-full;
  }

  .form fieldset label {
    @apply w-full px-2;
  }

  .form fieldset input,
  .form fieldset textarea {
    @apply text-white w-full bg-transparent border-primary-color border py-1 px-2 rounded-md;
  }

  .form fieldset input::-ms-reveal {
    @apply invert;
  }

  .form fieldset textarea {
    @apply resize-none leading-5;
  }

  .form button.submit {
    @apply flex flex-row gap-2 items-center justify-center min-w-[7rem] px-4 py-1 rounded-md disabled:opacity-50;
  }

  .form fieldset.submit {
    @apply flex-row justify-between items-center;
  }

  .form .loader {
    @apply w-6 opacity-100 transition-all;
  }

  .form .loader.disabled {
    @apply opacity-0;
  }

  .date-icon::-webkit-calendar-picker-indicator {
    @apply bg-white rounded-[0.2rem] p-1 hover:opacity-75 cursor-pointer transform-gpu;
  }

  .copy-button {
    @apply bg-white text-black hover:opacity-75 hover:bg-white rounded-md z-40;
  }
}

@layer utilities {
}
