@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins");
@import url("https://fonts.googleapis.com/css2?family=Consolas");

@layer base {
  html {
    --nav-height: 4rem;

    --hue-color: 30;

    --primary-color: hsl(var(--hue-color), 100%, 47%);
    --secondary-color: hsl(var(--hue-color), 93%, 62%);

    --text-color: hsl(var(--hue-color), 0%, 95%);

    --block-color: hsl(var(--hue-color), 1%, 16%);
    --block-color-alt: hsla(var(--hue-color), 1%, 12%, 0.95);

    --body-color-1: hsl(var(--hue-color), 1%, 15%);
    --body-color-2: hsl(var(--hue-color), 0%, 95%);
    /* --body-color-2: hsl(var(--hue-color), 1%, 80%); */

    /* swiper */
    --swiper-theme-color: var(--primary-color) !important;
  }

  * {
    @apply box-border p-0 m-0;
  }

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  *,
  html {
    @apply scroll-smooth;
  }

  body {
    @apply transition-all
    m-0 h-screen
    bg-body-color-1
    font-poppins text-base text-text-color;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-4xl;
  }

  h1 {
    @apply text-[2rem] xs:text-4xl text-primary-color font-consolas font-extrabold;
  }
  h2 {
    @apply text-2xl text-secondary-color font-consolas font-bold;
  }
  h3 {
    @apply text-xl text-secondary-color font-consolas font-bold;
  }
  h4 {
    @apply text-lg text-secondary-color font-consolas font-bold;
  }

  p {
    @apply text-base font-medium text-text-color mix-blend-difference;
  }

  ul {
    @apply list-none;
  }

  a {
    @apply no-underline;
  }

  img {
    @apply max-w-full h-auto;
  }

  section {
    @apply h-auto w-full p-4 m-0 px-[3%] lg:px-[1%];
  }

  /* scroll bar */
  ::-webkit-scrollbar {
    @apply w-3 h-4;
  }

  ::-webkit-scrollbar-track {
    @apply bg-block-color-alt;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primary-color;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-secondary-color;
  }
}

@layer components {
  #root {
    @apply h-full w-full;
  }

  .container {
    @apply max-w-6xl w-full h-full mx-6 pt-[10vh] md:pt-0;
  }

  .foreground {
    @apply fixed top-0 left-0 w-full h-full z-[49] transition-all bg-black bg-opacity-40;
  }

  .button {
    @apply inline-block bg-primary-color hover:bg-secondary-color px-1 select-none;
  }

  .select {
    @apply font-extrabold text-body-color-1 h-full text-center py-2 px-3 m-0 rounded-md cursor-pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    text-align-last: center;
  }

  .select::-ms-expand {
    @apply hidden;
  }

  .select:focus {
    @apply outline-none;
  }

  .select option {
    @apply font-normal text-left;
    text-align: left;
  }
}

@layer utilities {
}
